<%- include ("layout/layout.ejs", { title: "Home",
body: `
  <section class="hero">
    <div class="hero-text">
      <h1>Aprende CSS moderno</h1>
      <p>Descubre cómo usar Flexbox, Grid, transiciones, animaciones, degradados y sombras para crear interfaces modernas y responsivas.</p>
      <button>Comenzar</button>
    </div>
    <img src="https://cdn-icons-png.flaticon.com/512/919/919826.png" alt="CSS Logo">
  </section>
 `})%>