<nav>
    <a href="/" class="me-3">Inicio</a>
    <a href="/about">Acerca de</a>

    <!-- NUEVO -->
    <a href="/cliente/registro" class="me-3">Registrarse</a>
    <a href="/cliente/login">Iniciar sesión</a>
</nav>